main{
  display:flex;
  flex-direction: column;
  align-items: center;
}

form{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
input{
  border:none;
}
input:focus{
  outline:none;
}
.inputLarge{
  border-bottom: 2px solid var(--background-color-accessories);
  border-left: 2px solid var(--background-color-accessories);
  background-color: var(--background-color-modals);
  color:var(--inputText-color);
  font-size: larger;
  height: 50px;
  width:90%;
}
.inputSmall{
  background-color: var(--background-color-accessories);
  color:var(--inputText-color);
  border:none;
  border-radius: 10px;
  height:30px;
  font-size: larger;
}
select{
  background-color: var(--background-color-accessories);
  color:var(--inputText-color);
  border:none;
  border-radius: 10px;
  height:30px;
  font-size: large;
}
.formHeading{
  font-size:xx-large;
}
/*PROJECT and ADD TODO FORMS*/
#addTodoForm{
  flex-direction: row;
  flex-wrap: wrap;
  border:1px solid black;
  border-radius: 35px;
  background-color: var(--background-color-modals);
  margin:2%;
  padding:2%;
  position:fixed;
  z-index: 1;
}
#addTodoForm > *{
  margin:2%;
}
.hidden{
  display: none;
}

.selectMenu{
  color:white;
}
/* -------------------------------------------------------------------------- */
nav{
  background-color: var(--background-color-secondary);
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
nav > *{
margin: 1%;
}

.navSection{
  display:flex;
  justify-content: space-evenly;
  width:45%;

}

/* LOGIN PAGE*/
#loginpage{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height:100vh;
}
#loginForm{
  margin:2%;
  width:35%;
  border:1px solid rgb(216, 216, 216);
}
#loginForm > input{
  border: 1px solid #f9f9f9;
  margin:1%;
  width: 50%;
}
#loginForm > button{
  width:50%;
}

